:root{
    --soft-blue: rgb(83, 104, 223);
    --soft-red: rgb(250, 87, 87);
    --grayish-blue: hsl(229, 8%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
}

a{
    text-decoration: none;
    color: black;
}
.wrapper{
    overflow-x: hidden;
}

.img{
    /*
    overflow-x: hidden;*/
    display: block;
    margin-inline: auto;
    width: 80vw;
}

.img img{
    width: 100%;

}

body{
    margin: 5rem 0 0 0;
    max-width: 100vw;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

section,header{
    padding: 0 5vw;
    max-width: 100vw;
}

footer{
    padding: 10vw;
}

section{
    margin-top: 6rem;
}

p,.gray{
    color: var(--grayish-blue);
}

h1,h2,h3,h4,h5,h6,p{
    margin: none;
}

button{
    margin: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

ul{
    padding: 0;
    list-style: none;
}

/* Utility classes */

.flex-center{
    display: flex;
    justify-content: center;
}
.text-al{
    text-align: center;
}

.con-p{
    text-align: center;
    margin-bottom: 3rem
}


.btn{
    background-color: var(--soft-blue);
    border: none;
    color: white;
    font-size: .7rem;
    font-weight: 500;
    border-radius: 5px;
    padding: .5rem 2rem;
    border: 2px solid var(--soft-blue);
    transition: .2s ease;
}

.btn:hover{
    background-color: inherit;
    color: var(--soft-blue);
}


.btn-red{
    background-color: var(--soft-red);
    border: 2px solid var(--soft-red);
}

.btn-red:hover{
    background-color: white;
    color: var(--soft-red);
}

.btn-white{
    border: 2px solid var(--grayish-blue);
    background-color: var(--grayish-blue);
    color: white;
}

.btn-white:hover{
    background-color: white;
    color: var(--grayish-blue);
}

a:hover{
    color: var(--soft-red);
}

/* special classess */

header{
    position: fixed;
    background-color: white;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
}

.nav-pc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav-mob{
    position: relative;
    padding: 1rem 5vw;
}

.flex-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-mob li{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.nav-list-mob{
    padding: 0;
}

hr{
    color: white;
}

.nav-list-mob a{
    color: white;

}



.nav-list-mob button{
    border-radius: 5px;
    border: 2px solid white;
    background-color: inherit;
    color: white;
    font-size: 2rem;
    padding: .25rem 0;
    margin-top: 1.5rem;
    font-size: bold;
    cursor: pointer;
    width: 100%;
}

.nav-modal{
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(83, 104, 223,0.85);
}

.nav-abs{
    position: absolute;
    padding: 0;
    max-width: 90vw;
    top: 5rem;
    right: 5vw;
    left: 5vw;
}

.menu,.close{
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.logo{
    height: 1.5rem;
}

.socials{
    display: flex;
    gap: 1rem;
}

.soc-nav{
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.soc-nav img{
    width: 2.5rem;
}

.nav{
    list-style: none;
    display: none;
    gap: 1rem;
    align-items: center;
}

/* Features */



.grey{
    color: var(--grayish-blue);
}

.con-btn{
    margin: 2rem 0;
}

.btn-ft{
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 1rem 0;
    border-bottom: 1px solid var(--grayish-blue);
}

.btn-ft:hover,
.btn-ft:focus{
    color: black;
}

.btn-ft::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--soft-red);
    transition: .3s ease-in-out;
    transform: scaleX(0);
}

.btn-ft:hover::before,
.btn-ft:focus::before{
    transform: scaleX(0.5);
}

.feature .img{
    overflow-x: visible;
}

.ft-info button{
    display: none;
}

/* browser */

.browser{
    display: inline-block;
    text-align: center;
    margin: 2rem auto;
}

.browser p,.browser h2{
    margin: .5rem
}

.card{
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 1rem 0;
    /*
    flex: 1 1 0px;
    justify-content: space-around;
    */
}

.card button{
    width: 90%;
    margin: 1rem 0;
}

/* faq*/


.question{
    display: block;
    text-align: left;
    font-size: 1.25rem;
    padding: .5rem 0;
    border-bottom: 1px solid var(--grayish-blue);
    width: 100%;
}

.btn-faq{
    display: block;
    margin: 1rem auto;
}

.question:hover{
    color: var(--soft-red);
}

.q-in{
    position: relative;
}

.q-in img{
    position: absolute;
    right: 0;
    top: 50%;
}

/* cta */

.blue-bg{
    background-color: var(--soft-blue);
    color: white;
}

.cta{
    padding: 3rem 0;
    text-align: center;
}

.joined{
    letter-spacing: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

.form-group input{
    width: 100%;
    box-sizing: border-box;
    padding: 1rem .5rem;
}

.right{
    position: relative;
}

.left{
    position: relative;
}

.left::before{
    content: "";
    display: block;
    position: absolute;
    width: 600px;
    height: 200px;
    border-radius: 100px;
    z-index: -1;
    bottom: 0;
    right: 40%;
    background-color: var(--soft-blue);
}

.right::before{
    content: "";
    display: block;
    position: absolute;
    width: 600px;
    height: 200px;
    border-radius: 100px;
    z-index: -1;
    bottom: 0;
    left: 40%;
    background-color: var(--soft-blue);
}

/*
.img::before{
    content: "";
    display: block;
    position: absolute;
    width: 800px;
    height: 300px;
    border-radius: 150px;
    right: 60%;
    bottom: -10%;
    z-index: -1;
    background-color: var(--soft-blue);
}
*/
/*footer*/

footer{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer ul{
    text-align: center;
}




.dots{
    width: 100%;
}

.card:first-child{
    align-self: flex-start;
}

.card:nth-child(2){
    align-self: center;
}

.card:nth-child(3){
    align-self: flex-end;
}







form{
    display: flex;
    gap: 1rem;
}

footer{
    background-color: var(--dark-blue);
    color: white;
    display: flex;
}

.footer-first{
    display: flex;
    align-items: center;
}

input{
    height: 1rem;
    padding: 0.35rem .5rem;
    outline: none;
}

.footer-con{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-list a{
    color: white;
}

.answer{
    height: 0px;
    overflow: hidden;
    transition: ease .2s;
}

.inactive{
    display: none;
}

/* animation */

/*
.hd-right{
    transform: translateX(100%);
    opacity: 0;
    transition: .3s ease-out;
}

.hd-left{
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s ease-out;
}

.show{
    transform: translateX(0);
    opacity: 1;
}
*/

.feature{
    display: none;
}
.active-ft{
    display: block;
}


@media (min-width:450px){
    .nav{
        display: flex;
    }
    .img{
        overflow-x: visible;
    }
    .menu{
        display: none;
    }
    .intro{
        display: flex;
        flex-direction: row-reverse;
        gap: 5rem;
    }
    .intro-t{
        text-align: left;
        align-self: center;
    }
    .con-p{
        width: 50vw;
        margin: 0 auto;
    }
    .con-btn{
        display: flex;
    }
    .feature{
        display: none;
        align-items: center;
        gap: 3rem;
    }
    .faq{
        width: 50vw;
        margin-inline: auto;
    }
    .ft-info{
        text-align: left;
    }
    .ft-info button{
        display: block;
    }
    .card-con{
        height: 420px;
        width: 75vw;
        margin-inline: auto;
        display: flex;
        gap: 3rem;
    }
    .card:nth-child(2){
        align-self: center;
    }
    .card:nth-child(3){
        align-self: flex-end;
    }
    form{
        width: 50vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 3.5fr 1fr;
        grid-auto-rows: 1fr;
        /*
        flex-direction: row;
        align-items: center;
        justify-content: center;
        */
    }
    form input{
        height: auto;
    }
    /*
    .form-group{
        width: 400px;
    }*/
    footer{
        padding: 1.5rem 10vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .foot-nav ul,.foot-nav{
        display: flex;
        gap: 1rem;
    }
    .foot-nav{
        align-items: center;
    }
    .btn-ft:hover::before,
    .btn-ft:focus::before{
    transform: scaleX(1);
    }
    .active-ft{
        display: flex;
    }
}

